body {
  background-color: #fffbf2;
  font-family: 'Roboto', sans-serif;
}
.card-img-top{
  width:auto;
  height:125px;
}
.menu-price {
  position: absolute;
  margin: 0;
  top: -10px;
  right: -10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  border:solid black 1px;
  color: #33211d;
  background: #da9f5b;
}
.col-4 {
  position: relative;
}
.product-price,
.button {
  background-color: #da9f5b;
}
.editborder,
.delborder {
    width: 45px;
    height: 45px;
    color: #362517;
}

.editborder {
    border: #dfad58 solid 3px;
}

.editborder:hover {
    background-color: #dfad58;
    color: #fff;
}

.delborder {
    border: #dc3545 solid 3px;
}

.delborder:hover {
    background-color: #dc3545;
    color: #fff;
    box-shadow: none;
}

.add-btn {
    background-color: #dfad58;
    color: #362517;
    border: none;
    opacity: .75;
}

.add-btn:hover {
    opacity: 1;
}